<section class="section">
  <img src="assets/4391.jpg" alt="Background Image" class="background-image">

  <div class="container mt-5">
    <div *ngIf="responseMessage" class="alert alert-success mt-4" role="alert">
      {{ responseMessage }}
    </div>
    <div *ngIf="error" class="alert alert-danger mt-4" role="alert">
      {{ error }}
    </div>

    <div class="card">
      <div class="card-header">
        <h4 style="text-align: center;">Schedule Appointment</h4>
      </div>
      <div class="card-body">
        <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="patientId">Patient ID</label>
            <input type="number" id="patientId" class="form-control" formControlName="patientId" placeholder="Enter Patient Id here"/>
            <div *ngIf="itemForm.get('patientId')?.invalid && itemForm.get('patientId')?.touched" class="text-danger">
              <small *ngIf="itemForm.get('patientId')?.hasError('required')">Patient ID is required.</small>
              <small *ngIf="itemForm.get('patientId')?.hasError('min')">Patient ID should not be negative.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="doctorId">Doctor ID</label>
            <input type="number" id="doctorId" class="form-control" formControlName="doctorId" placeholder="Enter Doctor Id here"/>
            <div *ngIf="itemForm.get('doctorId')?.invalid && itemForm.get('doctorId')?.touched" class="text-danger">
              <small *ngIf="itemForm.get('doctorId')?.hasError('required')">Doctor ID is required.</small>
              <small *ngIf="itemForm.get('doctorId')?.hasError('min')">Doctor ID should not be negative.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="time">Enter Date and Time</label>
            <input type="datetime-local" name="time" formControlName="time" [(ngModel)]="formModel.time" class="form-control" id="time" placeholder="Appointment Time">
            <div *ngIf="itemForm.controls['time'].invalid && (itemForm.controls['time'].dirty || itemForm.controls['time'].touched)" class="ng-dirty">
              <span *ngIf="itemForm.controls['time'].errors">
                <span class="text-danger">Please Choose Appointment Time.</span>
              </span>
            </div>
          </div>

          <div class="col-md-2">
            <button class="btn btn-outline-dark" type="submit" style="background-color: rgb(121, 136, 138);">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Doctors Search Input -->
    <div class="mt-4">
      <h4 style="color: white;text-align: center;"><b>All Doctors</b></h4>
      <input type="text" class="form-control mb-2" placeholder="Search by Doctor ID, Name, or Specialty" (input)="searchDoctor($event)" />
      <div class="table-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Specialty</th>
              <th class="text-center">Availability</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of (filteredDoctors$ | async)">
              <td class="text-center">{{ doctor.id }}</td>
              <td class="text-center">{{ doctor.username }}</td>
              <td class="text-center">{{ doctor.email }}</td>
              <td class="text-center">{{ doctor.specialty }}</td>
              <td class="text-center">{{ doctor.availability }}</td>      
              </tbody>
        </table>
      </div>
    </div>

    <!-- Patients Search Input -->
    <div class="mt-5">
      <h4 style="color: white;text-align: center;"><b>All Patients</b></h4>
      <input type="text" class="form-control mb-2" placeholder="Search by Patient ID or Name" (input)="searchPatient($event)" />
      <div class="table-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of (filteredPatients$ | async)">
              <td class="text-center">{{ patient.id }}</td>
              <td class="text-center">{{ patient.username }}</td>
              <td class="text-center">{{ patient.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>