<div class="video-container">
    <video autoplay muted loop class="background-video">
      <source src="assets/3191573-uhd_3840_2160_25fps.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay">
      <div class="content">
        <h1>Welcome to Our Medical Care</h1>
        <p>Providing top-notch medical care with a team of experienced doctors and state-of-the-art facilities.</p>
        <!-- <a routerLink="/registration" class="btn btn-primary">Register</a>
        <a routerLink="/login" class="btn btn-secondary">Login</a> -->
      </div>
    </div>
  </div>